<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app>
    <h1>Filters Demo</h1>

    <div ng-controller="FiltersDemoController" class='controller'>
        <p>Money at hand: {{cash | currency}}</p>
        <p>Money at hand: {{cash | currency: "EUR "}}</p>
        <p>Current date: {{currentDate | date}}</p>
        <p>Current date: {{currentDate | date: "yyyy-MM-dd"}}</p>
    </div>

    <hr />

    <script src="../../assets/js/angular.js"></script>
    <script type="text/javascript">
        //https://docs.angularjs.org/api/ng/filter/date
        //https://docs.angularjs.org/api/ng/filter/currency
        function FiltersDemoController($scope) {
            $scope.cash = 200;
            $scope.currentDate = new Date();
        }
    </script>
</body>
</html>