<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app>
    <h1>Filters Demo</h1>

    <div ng-controller="FiltersDemoController" class='controller'>
        <p class='lead'>Ordered by Age</p>
        <table class='table table-condensed'>
            <tr>
                <th ng-click="changeOrder('name')">Name <span class='glyphicon glyphicon-sort'></span></th>
                <th ng-click="changeOrder('age')">Age <span class='glyphicon glyphicon-sort'></span></th>
            </tr>
            <tr ng-repeat='friend in friends | orderBy: sortOrder: isReversed'>
                <td>{{friend.name}}</td>
                <td>{{friend.age}}</td>
            </tr>
        </table>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script type="text/javascript">
        function FiltersDemoController($scope) {
            $scope.sortOrder = "name";
            $scope.isReversed = false;
            $scope.changeOrder = function(sortOrder) {
                if ($scope.sortOrder == sortOrder) {
                    $scope.isReversed = !$scope.isReversed;
                } else {
                    $scope.sortOrder = sortOrder;
                }
            };

            $scope.friends = [{
                name: 'John',
                age: 26
            }, {
                name: 'Mary',
                age: 19
            }, {
                name: 'Mike',
                age: 21
            }, {
                name: 'Adam',
                age: 35
            }, {
                name: 'Julie',
                age: 29
            }];
        }
    </script>
</body>
</html>