<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app="myApp">
    <h1>AJAX Demo</h1>

    <div class='row'>
        <div class='col-sm-6 clearfix'>
            <h3>JQUERY</h3>
            <pre id='walls' style='height: 300px; overflow: scroll'></pre>
        </div>

        <div class='col-sm-6'>
            <h3>Angular</h3>
            <div ng-controller="AjaxDemoController" class='controller'>
                <pre style='height: 300px; overflow: scroll'>{{ajaxResult}}</pre>
            </div>
        </div>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script src="../../assets/js/jquery.js"></script>
    <script src="wall.js"></script>
    <script type="text/javascript">
        $(function() {
            $.get("walls.json").done(function(data) {
                $("#walls").html(JSON.stringify(data, null, 2));
            });
        })

        function AjaxDemoController($scope, wallService) {
            wallService.get().then(function(response) {
                $scope.ajaxResult = JSON.stringify(response.data, null, 2);
            });
        }

        angular.module("myApp", ["wallModule"]);
    </script>
</body>
</html>