<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body ng-app>
    <h1>Expressions Demo</h1>

    <div ng-controller="MyController">
        <input ng-model="expr" type="text" placeholder="Enter an expression" />
        <h3>{{parsedValue}}</h3>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script type="text/javascript">
        function MyController($scope, $parse) {
            $scope.$watch('expr', function(newVal, oldVal, scope) {
                var parseFun = $parse(newVal);
                if (parseFun) {
                    $scope.parsedValue = parseFun(scope);
                }
            });
        }
    </script>
</body>
</html>