<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app="myApp">
    <!--
        Instructions:
        1. Add scope methods to fileAdd and fileRemove starting on line 54 in this file
        2. Open services.js and write the codes for addFiles and removeFiles
        3. Play around with the buttons on line 33 and 34 and modify the value
           from 1 file to multiple files
    -->
    <h1>Services Demo</h1>

    <div ng-controller="ServicesDemoController" class='controller'>
        <p>File size: {{storage.bytes | fileSize}}</p>
        <p>Num of files: {{storage.numOfFiles}}</p>
    </div>

    <hr />

    <div ng-controller="StorageSettingsController" class="controller">
        <button ng-click='storageAdd(51200)'>Add 50 KB</button>
        <button ng-click='storageRemove(51200)'>Remove 50 KB</button>
        <button ng-click='fileAdd(1)'>Add 1 file</button>
        <button ng-click='fileRemove(1)'>Remove 1 file</button>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script src="services.js"></script>
    <script type="text/javascript">
        function ServicesDemoController($scope, storageService) {
            $scope.storage = storageService.get();
        }

        function StorageSettingsController($scope, storageService) {
            $scope.storageAdd = function(size) {
                storageService.add(size);
            }

            $scope.storageRemove = function(size) {
                storageService.remove(size);
            }

            // Notes: Create scope methods to fileAdd(numOfFiles) and fileRemove(numOfFiles).
            // Notice the method names attached to the ng-click on line 32.
            // In fileAdd, use storageService.addFiles(1) to add a file
            // In fileRemove, use storageService.removeFiles(1) to remove a file
        }
    </script>
</body>
</html>