<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app="myApp">
    <h1>Services Demo</h1>

    <div ng-controller="ServicesDemoController" class='controller'>
        <p>File size: {{storage.bytes | fileSize}}</p>
        <p>Num of files: {{storage.numOfFiles}}</p>
    </div>

    <hr />

    <div ng-controller="storageSettingsController" class="controller">
        <button ng-click='storageAdd(51200)'>Add 50 KB</button>
        <button ng-click='storageRemove(51200)'>Remove 50 KB</button>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script src="services.js"></script>
    <script type="text/javascript">
        function ServicesDemoController($scope, storageService) {
            $scope.storage = storageService.get();
        }

        function storageSettingsController($scope, storageService) {
            $scope.storageAdd = function(size) {
                storageService.add(size);
            }

            $scope.storageRemove = function(size) {
                storageService.remove(size);
            }
        }
    </script>
</body>
</html>