<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app>
    <h1>Empty Scope Demo</h1>

    <div ng-controller="ParentController" class="controller">
        <h3>Parent</h3>
        <button ng-click='broadcastMsg(name)'>Broadcast</button>

        <div ng-controller="ChildController" class="controller">
            <h3>Child</h3>
            <h4>{{msg}}</h4>

            <div ng-controller="GrandChildController" class="controller">
                <h3>Grand Child</h3>
                <h4>{{msg}}</h4>
            </div>
        </div>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script type="text/javascript">
        function ParentController($scope) {
            $scope.name = "parent";

            $scope.broadcastMsg = function(name) {
                $scope.$broadcast("MSG_BROADCASTED", name);
            }
        }

        function ChildController($scope) {
            $scope.name = "child";

            $scope.$on("MSG_BROADCASTED", function(e, name) {
                $scope.msg = "A msg broadcast from " + name;
            });
        }

        function GrandChildController($scope) {
            $scope.name = "grand child";

            $scope.$on("MSG_BROADCASTED", function(e, nameParameter) {
                $scope.msg = "A msg broadcast from " + nameParameter;
            });
        }
    </script>
</body>
</html>