<div class='row'>
    <div class='col-sm-8 main-panel'>
        <div class='pull-right'>
            <button page-expander is-shrinked='isShrinked' type="button" class="btn btn-default">
                <span class='glyphicon glyphicon-expand'></span>
                <span>Expand/Shrink</span>
            </button>
        </div>
        <p class='lead'>Hello {{name}}</p>
        <div ng-include="'views/partials/wall-submit.html'"></div>
        <hr class='cleared' />
        <div class='wall-post' ng-repeat='wall in walls'>
            <div class='pull-right'>{{wall.timestamp | timeago}}</div>
            <h4 class='title'>{{wall.name}}</h4>
            <p>{{wall.comment}}</p>
        </div>
        <hr class='cleared' />
        <div ng-include="'views/partials/wall-submit.html'"></div>
    </div>
    <div class='col-sm-4 side-panel'>
        <div ng-controller='WallStatsController' class='panel panel-default'>
            <div class='panel-heading'>
                Statistics
            </div>
            <div class='panel-body'>
                <p>Post count: {{walls.length || 0}}</p>
                <p>Top commenter: {{topCommenter()}}</p>
                <p ng-show='walls.length'>Last post by: {{walls[0].name}}</p>
            </div>
        </div>
    </div>
</div>