<div class='row'>
    <div class='col-sm-12'>
        <p class='lead'>Change Name</p>
        <form class='well well-sm clearfix' ng-submit='changeName(name)'>
            <div class='form-group' ng-class='{ "has-error": name.length && name.length < 4 }'>
                <input type='text' ng-model='name' class='form-control'placeholder='Firstname Lastname' />
                <div class='form-actions'>
                    <span ng-show='name.length && name.length < 4' class="text-danger pull-left">Please write longer name</span>
                    <span ng-show='nameChangeSuccess' class="text-success pull-left">Your name has been changed</span>
                    <button ng-disabled='!name.length' class='btn btn-sm btn-default pull-right'>Change Name</button>
                </div>
            </div>
        </form>
    </div>
</div>