<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app="myApp">
    <h1>AJAX Demo</h1>

    <div class='row'>
        <div class='col-sm-6 clearfix'>
            <h3>JQUERY</h3>
            <pre id='sushiRestaurants' style='height: 300px; overflow: scroll'></pre>
        </div>

        <div class='col-sm-6'>
            <h3>Angular</h3>
            <div ng-controller="AjaxDemoController" class='controller'>
                <pre style='height: 300px; overflow: scroll'>{{ajaxResult}}</pre>
            </div>
        </div>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script src="../../assets/js/jquery.js"></script>
    <script src="yahoo.api.js"></script>
    <script type="text/javascript">
        $(function() {
            $.ajax({
                url: "http://query.yahooapis.com/v1/public/yql",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: 'select * from local.search where query="sushi" and location="san francisco, ca"',
                    format: "json"
                },
                success: function(response) {
                    $("#sushiRestaurants").html(JSON.stringify(response, null, 2));
                }
            });
        })

        function AjaxDemoController($scope, yahooApiService) {
            yahooApiService.get("sushi", "san francisco, ca").success(function(data, status, headers, config) {
                console.log("==== .success(data, status, headers, config) ====");
                console.log(data);
                console.log(status);

                $scope.ajaxResult = JSON.stringify(data, null, 2);
            }).error(function(data, status, headers, config) {
                //Error case
                console.log("==== .error(data, status, headers, config) ====");
                console.log(data);
                console.log(status);
            }).then(function(httpResponse) {
                console.log("==== .then(successFunction(httpResponse)) ====");
                console.log(httpResponse.data);
                console.log(httpResponse.status);
            }, function(httpErrorResponse) {
                console.log("==== .then(errorFunction) ====");
                //Error case
                console.log(httpErrorResponse.data);
                console.log(httpErrorResponse.status);
            });
        }

        angular.module("myApp", ["yahooApi"]);
    </script>
</body>
</html>