<!DOCTYPE html>
<html lang="en" ng-app="WallApp">
<head>
    <meta charset="utf-8">
    <title>WallApp</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller='MainController'>
    <!--
        Instructions:
        1. Set the ng-repeat='wall in walls' on this page on line 58
        2. Open controllers.js and add $scope.walls.unshift(); on line 14
           Don't forget to set the new comment to $scope.comment
        3. Add a clear button on line 51 on this page to clear the input box.
           Use ng-click to attach it to $scope.clear();
        4. Open controllers.js and write the code to clear the comment on line 22

        Optional:

        1. Add ng-disabled into the form submit button when comment.length is 0

        Advance:

        1. Add error when comment.length exists and is less than 4 characters
        2. Use ng-class to show error and add it to the <div class='form-group'>
    -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WallApp</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/home">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-8 main-panel'>
                <p class='lead'>Hello {{name}}</p>

                <!-- Wall Submission Form -->
                <form class='well well-sm clearfix' ng-controller='WallSubmitController' ng-submit='send()'>
                    <div class='form-group'>
                        <textarea ng-model='comment' class='form-control' row='2' placeholder='{{name}}, say something!'></textarea>
                        <div class='form-actions'>
                            <input type='submit' class='btn btn-sm btn-default pull-right' value='Submit' /> <!-- LAB (Optional): add ng-disabled when comment.length is 0 -->
                            <input /> <!-- LAB: Write the clear button -->
                        </div>
                    </div>
                </form>

                <hr class='cleared' />

                <div class='wall-post' ng-repeat=''> <!-- LAB: Write the ng-repeat -->
                    <!-- Where the wall will be displayed -->
                    <div class='pull-right'>{{wall.timestamp}}</div>
                    <h4 class='title'>{{wall.name}}</h4>
                    <p>{{wall.comment}}</p>
                </div>

                <hr class='cleared' />
            </div>
            <div class='col-sm-4 side-panel'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        Statistics
                    </div>
                    <div class='panel-body'>
                        <p>Post count: {{walls.length || 0}}</p>
                        <p ng-show='walls.length'>Last post by: {{walls[0].name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>
