<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app="myApp">
    <h1>Directive Demo</h1>

    <div ng-controller="DirectiveDemoController" class='controller'>
        <h4>Progress Bar:</h4>
        <p><input type='text' ng-model='progressValue' /></p>
        <div sp-progress="progressValue"></div>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../assets/js/jquery-ui.js"></script>
    <script type="text/javascript">
        function DirectiveDemoController($scope) {
            $scope.progressValue = 70;
        }

        angular.module("myApp", []).directive("spProgress", function() {
            return function(scope, el, attr) {
                //http://jqueryui.com/progressbar/#default
                var progressBar = $(el).progressbar({
                    value: scope[attr.spProgress]
                });

                scope.$watch(attr.spProgress, function(newValue) {
                    progressBar.progressbar("option", "value", parseInt(newValue, 10));
                });
            }
        });
    </script>
</body>
</html>