<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }

        input:disabled {
            border: 5px solid purple;
        }
    </style>
</head>
<body ng-app>
    <h1>Directive Demo</h1>

    <div ng-controller="DirectiveDemoController" class='controller'>
        <p>
            <button ng-click="isDisplayed = !isDisplayed">Show/Hide (isDisplayed: {{isDisplayed}})</button>
            <button ng-click="isEnabled = !isEnabled">Enable/Disable (isEnabled: {{isEnabled}})</button>
        </p>
        <p><input ng-model='name' ng-disabled="!isEnabled" ng-show="isDisplayed" type="text" placeholder="Please enter your name" /></p>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script type="text/javascript">
        function DirectiveDemoController($scope) {
            $scope.name = "Hello World";

            $scope.isDisplayed = false;
            $scope.isEnabled = false;
        }
    </script>
</body>
</html>