<form class='well well-sm clearfix' ng-controller='WallSubmitController' ng-submit='send()'>
    <div class='form-group' ng-class='{ "has-error": comment.length && comment.length < 4 }'>
        <textarea ng-model='comment' class='form-control' row='2' placeholder='{{name}}, say something!'></textarea>
        <div class='form-actions'>
            <span ng-show='comment.length && comment.length < 4' class="text-danger pull-left">Please write longer comments to join the discussion</span>
            <span ng-show='sendSuccess && !comment.length' class="text-success pull-left">Comment posted</span>
            <span ng-show='sendError && !comment.length' class="text-danger pull-left">An unknown error has occured. Please try again later</span>
            <input type='submit' ng-disabled='!comment.length || comment.length < 4' class='btn btn-sm btn-default pull-right' value='Submit' />
            <input type='button' ng-click='clear()' class='btn btn-sm btn-default pull-right' value='Clear' />
        </div>
    </div>
</form>