<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app="myApp">
    <h1>Directive Demo</h1>

    <div ng-controller="DirectiveDemoController" class='controller'>
        <ul class="list" sp-sortable>
            <li ng-repeat="item in items">{{item}}</li>
        </ul>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../assets/js/jquery-ui.js"></script>
    <script type="text/javascript">
        function DirectiveDemoController($scope) {
            $scope.items = ["Item 1",
                "Item 2", "Item 3", "Item 4",
                "Item 5", "Item 6", "Item 7"
            ];
        }

        DirectiveDemoController.$inject = ["$scope"];

        angular.module("myApp", []).directive("spSortable", function() {
            return function(scope, el, attr) {
                //Instantiate the jQuery UI sortable plugin
                $(el).sortable();
            }
        });
    </script>
</body>
</html>