<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app>
    <h1>Scope in Multiple Controller Demo</h1>

    <div ng-controller="HelloController" class="controller">
        <h3>Controller Instance 1</h3>

        <h4>What is your name:</h4>
        <input type="text" placeholder="What is your name" ng-model="person.name"/>

        <h3>Hello {{person.name}}</h3>
        <button ng-click="addGreeting()">Add a Greeting</button>
        <button ng-click="clearName()">Clear Name</button>
        <button ng-click="copyToRootScope()">Copy to $rootScope</button>

        <h3>Title (value in $rootScope):</h3>
        <input type='text' disabled="disabled" ng-model="title" />

        <hr />
        <div ng-controller="HelloController" class="controller">
            <h3>Controller Instance 2</h3>
            <h4>What is your name:</h4>
            <input type="text" placeholder="What is your name" ng-model="person.name"/>

            <h3>Hello {{person.name}}</h3>
            <button ng-click="addGreeting()">Add a Greeting</button>
            <button ng-click="clearName()">Clear Name</button>
            <button ng-click="copyToRootScope()">Copy to $rootScope</button>

            <h3>Title (value in $rootScope):</h3>
            <input type='text' disabled="disabled" ng-model="title" />
        </div>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script type="text/javascript" src="hello.js"></script>
</body>
</html>