<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app="myApp">
    <h1>Filters Demo</h1>

    <div ng-controller="FiltersDemoController" class='controller'>
        <h4>Cash: </h4>
        <input type='text' ng-model='cash' />
        <hr />
        <p>Money at hand: {{cash | currency}}</p>
        <p>Money in bank: {{bank | currency}}</p>
        <p>Cash to money in bank ratio: {{cash / bank}}</p>
        <p>Cash to money in bank ratio (percentage): {{cash | cashBankRatio: bank}}</p>
    </div>

    <hr />

    <script src="../../assets/js/angular.js"></script>
    <script type="text/javascript">
        function FiltersDemoController($scope) {
            $scope.cash = 200;
            $scope.bank = 1000;
        }

        angular.module("myApp", []).filter('cashBankRatio', function() {
            return function(cash, bank) {
                return (cash/bank * 100) + "%";
            };
        });
    </script>
</body>
</html>