
<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app="myApp">
    <!--
        Instructions:
        1. On line 49, return a function that calls the code displayFileSize(),
           passing in the bytes from the value
    -->
    <h1>Filters Demo</h1>

    <div ng-controller="FiltersDemoController" class='controller'>
        <p>Number of bytes: {{bytes}}</p>
        <input type='text' ng-model='bytes' />
        <hr />
        <p>File size: {{bytes | fileSize}}</p>
    </div>

    <hr />

    <script src="../../assets/js/angular.js"></script>
    <script type="text/javascript">
        function FiltersDemoController($scope) {
            $scope.bytes = 204800; //200 KB
        }

        function displayFileSize(sizeInBytes) {
            if (sizeInBytes) {
                var labels = ['bytes', 'KB', 'MB', 'GB', 'TB'],
                    i, len, label = labels[0];
                for (i = 1, len = labels.length; i < len && sizeInBytes > 1024; i++) {
                    sizeInBytes = sizeInBytes / 1024;
                    label = labels[i];
                }
                return sizeInBytes.toFixed(2) + " " + label;
            }
            return "0 KB";
        }

        angular.module("myApp", []).filter('fileSize', function() {
            //Write the return function codes here
        });
    </script>
</body>
</html>