<!DOCTYPE html>
<html lang="en" ng-app="WallApp">
<head>
    <meta charset="utf-8">
    <title>WallApp</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller='MainController'>
    <!--
        Instructions:
        1. Include services.js on line 76
        2. Modify app.js to include WallApp.services
        3. Open controllers.js and add wallService in the dependency list on line 18
        4. use wallService.send() on line 22 to prepend wall post
        5. Open services.js and return a $http.get('backend/comment.json');
        6. Add a .success(function() {}) to the $http.get('backend/comment.json') to replace
           the wall data on line 3 to use data.walls from the ajax. (walls = data.walls;)
    -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WallApp</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/home">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-8 main-panel'>
                <p class='lead'>Hello {{name}}</p>

                <!-- Wall Submission Form -->
                <form class='well well-sm clearfix' ng-controller='WallSubmitController' ng-submit='send()'>
                    <div class='form-group' ng-class='{ "has-error": comment.length && comment.length < 4 }'>
                        <textarea ng-model='comment' class='form-control' row='2' placeholder='{{name}}, say something!'></textarea>
                        <div class='form-actions'>
                            <span ng-show='comment.length && comment.length < 4' class="text-danger pull-left">Please write longer comments to join the discussion</span>
                            <input type='submit' ng-disabled='!comment.length || comment.length < 4' class='btn btn-sm btn-default pull-right' value='Submit' />
                            <input type='button' ng-click='clear()' class='btn btn-sm btn-default pull-right' value='Clear' />
                        </div>
                    </div>
                </form>

                <hr class='cleared' />

                <div class='wall-post' ng-repeat="wall in walls">
                    <div class='pull-right'>{{wall.timestamp | timeago}}</div>
                    <h4 class='title'>{{wall.name}}</h4>
                    <p>{{wall.comment}}</p>
                </div>

                <hr class='cleared' />
            </div>
            <div class='col-sm-4 side-panel'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        Statistics
                    </div>
                    <div class='panel-body'>
                        <p>Post count: {{walls.length}}</p>
                        <p ng-show='walls.length'>Last post by: {{walls[0].name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src=""></script>
</body>
</html>
