<h2>Settings</h2>

<h4>What is your name</h4>
<form ng-submit='saveName(name)'>
    <p><input type="text" class='form-control' placeholder="What is your name" ng-model="name" /></p>
    <p class='pull-left text-success' ng-show='isNameSaved'>Name has been changed</p>
    <button class='pull-right btn btn-default'>Save Name</button>
</form>
