body {
    padding: 0 25px 25px 25px;
}

h1 {
    margin-bottom: 30px;
}

h3:first-child, h4:first-child {
    margin-top: 0;
}

input:last-child {
    margin-bottom: 10px;
}

.controller th {
    cursor: pointer;
}

.cleared {
    clear: both;
}

.course-nav {
    clear: both;
    margin-top: 40px;
    background: #f3f3f3;
    border: 1px solid #ccc;
    padding: 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.course-nav a {
    float: left;
    padding: 10px 15px;
    background: #efefef;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.course-nav a.next {
    float: right;
}

.course-nav:before,
.course-nav:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.course-nav:after {
    clear: both;
}

input[type='text'] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type='text']:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

input[type='text']::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.ui-progressbar {
    height: 8px;
}

.ui-progressbar .ui-progressbar-value {
    margin: 0;
}