body {
    background: #fefefe;
    padding-top: 70px;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.form-actions {
    margin-top: 10px;
}

.form-actions .btn {
    margin-left: 10px;
}

.cleared {
    clear: both;
}

.wall-post {
    margin-bottom: 15px;
}

.wall-post .title {
    margin-bottom: 5px;
}