<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app>
    <h1>Scope Hierarchy Demo</h1>

    <div ng-controller="ParentController" class="controller">
        <h3>Parent controller</h3>

        <h4>What is your name:</h4>
        <input type="text" placeholder="What is your name" ng-model="person.name" />

        <h4>Child's name:</h4>
        <input type='text' ng-model="person.childName" />

        <h4 style='color: #336699'>Author:</h4>
        <input type='text' ng-model="author" />

        <hr />

        <div ng-controller="ChildController" class="controller">
            <h3>Child controller</h3>
            <h4>What is your name:</h4>
            <input type='text' ng-model="person.name" />

            <h4>Child's name:</h4>
            <input type='text' ng-model="person.childName" />

            <h4 style='color: #336699'>Author:</h4>
            <input type='text' ng-model="author" />

            <h4 style='color: red'>Parent's Author:</h4>
            <input type='text' ng-model="$parent.author" />

            <hr />
            <button ng-click="addGreeting()">Add a Greeting</button>
            <button ng-click="clearName()">Clear Name</button>
            <button ng-click="copyToRootScope()">Copy to $rootScope</button>
        </div>

        <h3>Title (value in $rootScope):</h3>
        <input type='text' disabled="disabled" ng-model="name" />
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script type="text/javascript" src="controllers.js"></script>
</body>
</html>