<!DOCTYPE html>
<html>
<head>
    <title>Angular Module</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }
    </style>
</head>
<body ng-app="myApp">
    <h1>Module Demo</h1>

    <div ng-controller="HelloController" class="controller">
        <h4>What is your name:</h4>
        <input type="text" placeholder="What is your name" blink-div ng-model="person.name" />

        <h3>Hello {{person.name}}</h3>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script type="text/javascript" src="hello.js"></script>
</body>
</html>