<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body ng-app>
    <h1>Angular Hello World Demo</h1>

    <div ng-controller="HelloController">
        <h4>What is your name:</h4>
        <input type="text" placeholder="What is your name" ng-model="name" />

        <h3>Hello {{name}}</h3>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script type="text/javascript">
        //Instantiating a controller with $inject
        function HelloController($scope) {
            $scope.name = "abc";
        }

        HelloController.$inject = ['$scope'];
    </script>
</body>
</html>