<!DOCTYPE html>
<html>
<head lang="en">
    <title>Angular Example</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        .controller {
            border: 5px solid red;
            padding: 20px;
        }

        input:disabled {
            border: 5px solid purple;
        }
    </style>
</head>
<body ng-app>
    <h1>Directive Demo</h1>

    <div ng-controller="DirectiveDemoController" class='controller'>
        <ul class="list">
            <li ng-repeat="item in items">{{item}}</li>
        </ul>
    </div>

    <script src="../../assets/js/angular.js"></script>
    <script type="text/javascript">
        function DirectiveDemoController($scope) {
            $scope.items = ["Item 1", "Item 2", "Item 3"];
        }
    </script>

    <!-- Navigation -->
    <div class='course-nav'>
        <a class='next' href="../02">Next - 02</a>
    </div>
</body>
</html>